<title><% @title="About Abby"%></title>
<h1>About Abbyhdsn</h1>
<!--<h5>Social Media</h5>-->
<p>
	<a href="https://www.facebook.com/abbyhdsn/"><i class="fab fa-facebook fa-2x"></i></a>
	<a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
	<a href="https://www.instagram.com/abby_hdsn/"><i class="fab fa-instagram fa-2x"></i></a>
	<a href="https://www.pinterest.com/abbyhdsn/"><i class="fab fa-pinterest-square fa-2x"></i></a>
	<a href="https://abbyhdsn.deviantart.com/"><i class="fab fa-deviantart fa-2x"></i></a>
	<!-- YouTube channel link. Removed until relevant.<a href=""><i class="fab fa-youtube fa-2x"></i></a>-->
	<a href="https://www.goodreads.com/abbyhdsn"><i class="fab fa-goodreads fa-2x"></i></a>
</p>
<h5>Words</h5>
<p>Words words words</p>
<p>More words</p>
<h3>Want to get to know me better?</h3>
<!--turn the "get to know me better" section into a sidebar for the whole website?-->
<p>Check out my blog series All About Me or follow me on social media!</p>
<!-- If "About Me" section is long enough to scroll, social media at bottom as well?-->
<h3>Deanout</h3>
<!--<h5>Social Media</h5>-->
<p>
	<a href="https://www.facebook.com/TheDeanout/"><i class="fab fa-facebook fa-2x"></i></a>
	<a href="https://twitter.com/dean_dehart"><i class="fab fa-twitter-square fa-2x"></i></a>
	<a href="https://www.instagram.com/deanout_"><i class="fab fa-instagram fa-2x"></i></a>
	<a href="http://www.youtube.com/deanout"><i class="fab fa-youtube fa-2x"></i></a>
</p>
<p><i>I owe a special thank to Dean "Deanout" Dehart for pushing me to follow this dream and for helping make it a reality. Below you will find some awesome ways to connect with him and learn from him as I have.</i></p>