<title><% @title="Contact Abby"%></title>
<h1>Contact Abby</h1>
<p>Having technical difficulties?</p>
<p>Just want to get in touch?</p>
<p>I'd love to chat. Shoot me an e-mail, a tweet, a facebook message - whatever you prefer. Just remember to keep it classy!</p>
<a href="mailto:abbyhdsn@gmail.com"><i class="fas fa-envelope-square fa-2x"></i></a>
<a href="https://www.facebook.com/abbyhdsn/"><i class="fab fa-facebook fa-2x"></i></a>
<a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
<!-- Not sure these are relevant to contacting me for these purposes. Decide when you're more awake. <a href="https://www.pinterest.com/abbyhdsn/"><i class="fab fa-pinterest-square fa-2x"></i></a>
<a href="https://abbyhdsn.deviantart.com/"><i class="fab fa-deviantart fa-2x"></i></a>
YouTube channel link. Removed until relevant.<a href=""><i class="fab fa-youtube fa-2x"></i></a>
<a href="https://www.goodreads.com/abbyhdsn"><i class="fab fa-goodreads fa-2x"></i></a></p>-->