<!DOCTYPE html>
<html>
	<head>
		<title>abbyhdsn</title>
	</head>
	<body>
	<h1>Home</h1>
	<h2><a href="<%= new_user_registration_path %>"> Sign up</a> for updates!</h2>
	<h2>Recent Content</h2>

</body>
</html>