<title><% @title="abbyhdsn home"%></title>
<h1>Home</h1>
<% if current_user %>
<% else %>
<h2><a href="<%= new_user_registration_path %>"> Sign up</a> for updates!</h2>
<%end%>
<h2>Recent Content</h2>