#alert_wrapper {
    position: absolute;
    top: 62.5px;
    width: 100%;
    z-index: 1250;
    background: rgba(244,66,75, 0.85);

    .alert {
        padding: 1.85rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.75rem;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
    }
}
#notice_wrapper {
    position: absolute;
    top: 62.5px;
    width: 100%;
    z-index: 1250;
    background: rgba(66,244,209, 0.85);

    .notice {
        padding: 1.85rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.75rem;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
    }
}
