<% if notice %>
<div id="notice_wrapper">
  <p class="notice"><%= notice %>
  </p>
</div>
<% elsif alert %>
<div id="alert_wrapper">
  <p class="alert"><%= alert %>
  </p>
</div>
<% end %>
